#  DEVELOPMENT RULES

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{HTTP_HOST} ^localhost
RewriteBase /MetricsLegacy
RewriteRule ^(.*)$ /MetricsLegacy/index.php?/$1 [L]

#  STAGING RULES

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{HTTP_HOST} ^metrics-dev.advisorsacademy.com
RewriteBase /
RewriteRule ^(.*)$ index.php?/$1 [L]

#  PRODUCTION RULES

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{HTTP_HOST} ^metrics.advisorsacademy.com
RewriteBase /
RewriteRule ^(.*)$ index.php?/$1 [L]